In [10]:
# Nama : Muhamad Donny Alimbara
# Nim : 221011402489
# Kelas : 05TPLM008

In [11]:
# Data

company_detail_list = [
      {
          'name': 'Company 1',
          'domain': 'Retail',
          'country': 'United States'
      },
      {
          'name': 'Company 2',
          'domain': 'Technology',
          'country': 'United Kingdom'
      },
      {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'country': 'United States'
      }
  ]

employee_detail_list = [
     {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0005',
          'first_name': 'Ying Han',
          'last_name': 'Tan',
          'full_name': 'Ying Han Tan',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0015',
          'first_name': 'Kenneth',
          'last_name': 'Ng',
          'full_name': 'Kenneth Ng',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0018',
          'first_name': 'Rubby',
          'last_name': 'Lee',
          'full_name': 'Rubby Lee',
          'company': 'Company 2',
          'nationality': 'Hong Kong'
      },
     {
          'name': 'EMP-0017',
          'first_name': 'Robert',
          'last_name': 'White',
          'full_name': 'Robert White',
          'company': 'Company 1',
          'nationality': 'United Kingdom'
      }
  ]

In [12]:
#task1
sorted_companies = sorted(company_detail_list, key=lambda x: x['name'], reverse=True)

result_task_1 = [{'name': company['name']} for company in sorted_companies]
result_task_1

[{'name': 'Company 3'}, {'name': 'Company 2'}, {'name': 'Company 1'}]

In [13]:
#task2
for company in company_detail_list:
    print(f"{company['name']}: {company['domain']} ({company['country']})")

Company 1: Retail (United States)
Company 2: Technology (United Kingdom)
Company 3: Healthcare (United States)

In [14]:
#task3
from collections import defaultdict

employees_by_domain = defaultdict(list)
company_domain_map = {company['name']: company['domain'] for company in company_detail_list}

for employee in employee_detail_list:
    domain = company_domain_map[employee['company']]
    employees_by_domain[domain].append(employee['full_name'])

result_task_3 = dict(employees_by_domain)
result_task_3

{'Retail': ['John Doe', 'Ying Han Tan', 'Robert White'],
 'Technology': ['Tom Smith', 'Rubby Lee'],
 'Healthcare': ['Andrew Sebastian', 'Kenneth Ng']}

In [15]:
# task4
def employees_with_company_country():
    company_country_map = {company['name']: company['country'] for company in company_detail_list}
    result = [
        {
            'full_name': employee['full_name'],
            'company': employee['company'],
            'country': company_country_map[employee['company']]
        }
        for employee in employee_detail_list
    ]
    return result

result_task_4 = employees_with_company_country()
result_task_4

[{'full_name': 'John Doe', 'company': 'Company 1', 'country': 'United States'},
 {'full_name': 'Tom Smith',
  'company': 'Company 2',
  'country': 'United Kingdom'},
 {'full_name': 'Andrew Sebastian',
  'company': 'Company 3',
  'country': 'United States'},
 {'full_name': 'Ying Han Tan',
  'company': 'Company 1',
  'country': 'United States'},
 {'full_name': 'Kenneth Ng',
  'company': 'Company 3',
  'country': 'United States'},
 {'full_name': 'Rubby Lee',
  'company': 'Company 2',
  'country': 'United Kingdom'},
 {'full_name': 'Robert White',
  'company': 'Company 1',
  'country': 'United States'}]

In [16]:
# task5
def company_employee_nationality_count():
    nationality_count = defaultdict(lambda: defaultdict(int))
    
    for employee in employee_detail_list:
        nationality_count[employee['company']][employee['nationality']] += 1
    
    # Format hasil
    result = [
        {
            'company': company['name'],
            'employee_nationality': dict(nationality_count[company['name']])
        }
        for company in company_detail_list
    ]
    return result

result_task_5 = company_employee_nationality_count()
result_task_5

[{'company': 'Company 1',
  'employee_nationality': {'Australia': 2, 'United Kingdom': 1}},
 {'company': 'Company 2',
  'employee_nationality': {'United States': 1, 'Hong Kong': 1}},
 {'company': 'Company 3', 'employee_nationality': {'United States': 2}}]